* {
	margin: 0;
	padding:0 
	box-sizing: border-box;
}
body {
	font-size: 18px;
	font-family: 'Space Grotesk', sans-serif;
}
/***BANK CARDS*/
.cards {
	z-index: 100;
	position: absolute;
	top: 110px;
	left: 20%;
}
.bank-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:  30px;
	width: 50%;
	position: relative;
}

.bankFront-img,
.bankBack-img {
		/*width: 300px;*/
		height: 200px;
	}

.bank-card--back {
	margin-left: 75%;
	display: flex;
	align-items: end;
	justify-content: end;
	position: relative;
}
.bankBack-img {
	height: 200px;
}

/***bank card info --front****/
.card-layout {
	position: absolute;
	top: 0;
	width: 170%;
	padding: 15px 5px 20px 20px;
	font-family: 'Space Grotesk', sans-serif;
}
.card-logo {
	width: 25%;
	margin-bottom: 25px;
}
h2 {
	font-size: 25px;
	
	margin-top: 20px;
}
h2,
h5 {
	color: #fff;
	font-weight: normal;
}
h5 {
	margin-top: 15px;
	text-transform: uppercase;
	color: hsl(270, 3%, 87%);

}
.card-name--info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/***bank card info --back*/
.card-layout--back {
	position: absolute;
	top: 72px;
	right: 40px;

}


	/****CONTAINER*/
.container {
	display: flex;
	align-items: center;
	width: 100%;
}

/***CONTAINER -left*/
.container-left {
	width: 30%;
	height: 100vh;
}
.bg-desktop--img {
	height: 100%;
	width: 100%;
}
.background-img {

}
/***CONTAINER -RIGHT*/
.container-right {
	width: 70%;
}
.payment-display {
	display:  block;
}
.payment-card {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
label {
	text-transform: uppercase;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 12px;
	color: hsl(278, 68%, 11%);
}

input {
	font-family: 'Space Grotesk', sans-serif;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid hsl(279, 6%,55%);
	width: 290px;
	margin-top: 5px;
}
#fullName {
	margin-bottom: 20px;
}
.inputExpDate {
	width: 60px;
}
.inputCvc {
	width: 100px;
}


form {
	display: flex;
	flex-direction: column;
	gap:  20px;
}
.furtherCard-info {
	display: flex;
	align-items: center;
	gap:  30px;
	margin-top: 20px;
}
.btn {
	font-family: 'Space Grotesk', sans-serif;
	width: 310px;
	padding: 10px 20px;
	margin-top: 30px;
	background-color: hsl(278, 68%, 11%);
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

/***ERROR DETAILS***/
.error-text {
	font-size: 10px;
	color: hsl(0, 100%, 66%);
	display: none;
}
.error {
	border: 1px solid hsl(0, 100%, 66%);
}

/***RESULT PAGE*/
.result-page {
	display: none;
	text-align: center;
}
.result-page > h1 {
	margin: 20px 0 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.result-page > p {
	color: hsl(279, 6%, 55%);
	margin-bottom: 40px;
}
.btn-continue {
	font-family: 'Space Grotesk', sans-serif;
	width: 300px;
	padding: 10px 20px;
	color: #fff;
	background-color: hsl(278, 68%, 11%);
	border: none;
	border-radius: 8px;
	cursor: pointer;
}



.attribution { 
	font-size: 11px; 
	text-align: center; 
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}

@media screen and (max-width:  1300px)

 {
 	.cards {
	z-index: 100;
	position: absolute;
	top: 250px;
	left: 20%;
}
	
}
@media screen and (max-width:  900px) 
{
	.container-left {
		width: 40%;
	}
	.container-right {
		width: 60%;
	}
	.cards {
	z-index: 100;
	position: absolute;
	top: 300px;
	left: 10%;
}
	.bankFront-img,
	.bankBack-img {
		width: 340px;
	}
	
}

@media screen and (max-width: 375px) {
	.bankFront-img,
	.bankBack-img {
		width: 300px;
		height: 200px;
	}
	.bank-card--front {
		top: 132px;
		left: 10px;
		
		z-index: 150;
	}
	
	.bank-card--back {
		top:  20px;
		left: 60px;
		
	}
	.container {
		display: flex;
		flex-direction: column;
		gap: 350px;
	}
	.container-left,
	.container-right {
		width: 100%;
	}
	.container-left {
		height: 0vh;
	}
	.bg-desktop--img {
		width: 100%;
		height: 270px;
	}
}